html,
body {
	background-color:hsl(0,0%,20%);
}

.form-control {
	height:2em;
	margin:1em;
	color:#999;
	background-color:#222;
}

select.form-control {
	padding:0 1em;
}


#logPane {
	width: 100%;
	min-height: 50%;
	background-color:hsl(0,0%,15%);
	position:absolute;
	bottom:0px;
	border-top: 2 px solid hsl(0,0%,25%);
}
